.textlogo__link {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.textlogo__link__blue {
    font-size: 26px;
    color: #2196F3;
}

.textlogo__link__dark {
    color: #000000;
}

.textlogo__link__light {
    color: #FFFFFF;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

/* BODY START */

body {
    font-family: 'Roboto', sans-serif;
}

/* BODY END */

/* HEADER START */

header {
    background: #FFFFFF;
    padding: 0px 215px;
    display: flex;
    align-items: center;
    height: 80px;
}

.header__block__textlogo__link {
    margin-right: 68px;
}

.header__nav li {
    display: inline-block;
}

.header__nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    margin: 0 25px;
}

.header__nav__link:hover {
    color: #2196F3;
}

.header__contacts {
    margin-left: auto;
}

.header__contacts a {
    text-decoration: none;
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header__contacts a:hover {
    color: #2196F3
}

.header__contacts__phone {
    margin-left: 50px;
}

/* HEADER END */

/* MAIN START */

/* MAIN SECTION ORDER SERVICE START*/
.main__block__order__service {
    background-color: #2F303A;
    padding: 200px 0;
}

.main__block__order__service h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: 0 auto;
}

.btn__order__service {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    padding: 10px 32px;
    border-style: none;
    border-radius: 4px;
    margin-top: 30px;
}

/* MAIN SECTION ORDER SERVICE END*/

/* MAIN SECTION INFO START */

.main__block__info {
    background-color: #F5F5F5;
    padding-top: 94px;
    padding-bottom: 94px;
}

.main__block__info_advantages {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.main__block__info_advantages div {
    width: 270px;
    margin: 0 15px;
}

.main__block__info_advantages div h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.main__block__info_advantages div p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.main__block__info__doing {
    margin-top: 94px;
}

.main__block__info__doing div {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.main__block__info__doing img {
    margin: 0 15px;
    width: 370px;
    height: 294px;
}

/* MAIN SECTION INFO END */

/* MAIN SECTION TEAM START */

.main__block__team {
    padding: 94px 0;
    background-color: #ECECEC;
    text-align: center;

}

.blocks__team__card {
    display: flex;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
}

.team__card {
    background-color: #FFFFFF;
    margin: 0 15px;
}

.team__card img {
    width: 270px;
    height: 260px;
}

.team__card h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.team__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* MAIN SECTION TEAM START */

/* MAIN END */

/* FOOTER START */

footer {
    padding: 60px 215px;
    background-color: #2F303A;
}

.footer__contacts_block {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer__contacts_block p {
    color: #FFFFFF;
    margin-top: 20px;
}

.footer__contacts_block a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}

/* FOOTER START */